* {
    outline: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

@font-face {
    font-family: 'TitleFont';
    src: url(./media/fonts/Adobe_Acumin_Pro_Wide_Ultra_Black.otf);
}

body {
    margin: 0px;
    overflow: hidden;
    background-color: #151515;
}

canvas {
    touch-action: none;
}

video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; 
}

#log {
    position: fixed;
    z-index: 10;
    top: 10px;
    left: 10px;
    background-color: #151515;
    color: #000;
    padding: 15px;
    display: none;
}

#loading {
    background-color: #151515;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;
    transition: opacity 1s;
}

@media (orientation: portrait) {
    #loading { background-size: cover; }
}

@media (orientation: landscape) {
    #loading { background-size: contain; }
}

.splash {
    width: 60vw;
    height: 100vh;
    background-color: #151515;
    position: fixed;
    top: 0px;
    left: calc(40vw);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./media/images/loading_screen.jpg);
    z-index: 11;
}

.details {
    width: calc(40vw - 4vw);
    height: calc(100vh - 4vh);
    background-color: #151515;
    padding: 2vh 2vw;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    z-index: 3;
    top: 0px;
    left: 0px;
    transition: left 1s;
}

.title_main {
    font-size: 4.7vw;
    line-height: 4vw;
    text-align: center;
    margin-top: 10vh;
    color: #a10d0d;
    font-family: 'TitleFont';
}

.title_auth {
    font-size: 1.8vw;
    text-align: center;
    color: #a10d0d;
    font-family: 'TitleFont';
    margin-top: 1vh;
    margin-bottom: 5vh;
}

.parag_main {
    text-align: justify;
    margin-top: 15px;
    font-family: Arial;
    font-size: 1vw;
    color: #AAA;
}

#progress {
    margin: 5vh 40px 0px 40px;
    height: 5px;
    background-color: rgba(255,255,255,0.1);
    text-align: center;
    transition-duration: 0.2s;
    transition-property: height, color;
    line-height: 5vw;
    font-size: 1.2vw;
    font-weight: 600;
}

.loaded {
    color: #FFF !important;
    cursor: pointer !important;
    box-shadow: inset 100vw 0px 0px #a10d0d !important;
    background-color: #a10d0d !important;
    height: 5vw !important;
}

.help_icon {
    height: 5vh;
    line-height: 5vh;
    font-size: 1vw;
    font-weight: 600;
    background-size: auto 4vh;
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 6vh;
    margin-bottom: 2vh;
}

.help_non_xr_icon {
    background-image: url(./media/images/non-xr-devices.png);
}

.help_xr_icon {
    background-image: url(./media/images/xr-devices.png);
}

.help {
    margin-top: 4vh;
    vertical-align: top;
    padding: 1vw;
    color: #FFF5;
    font-size: 0.9vw;
    width: calc(15vw);
    display: inline-block;
}

.help_items > li {
    list-style: disc;
    margin-left: 1vw;
    line-height: 2.5vh;
}

.splash_mobile {
    display: none;
}

li > a {
    color: #FFF8;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
}

.gl_help {
    position: fixed;
    line-height: 18px;
    height: 40px;
    top: calc(100vh - 55px);
    left: 20px;
    z-index: 5;
    color: #FFF6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 300;
}

.gl_exit {
    position: fixed;
    width: 50px;
    height: 50px;
    top: 10px;
    left: 10px;
    z-index: 5;
    cursor: pointer;
    background-image: url(./media/images/close.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70% 70%;
    opacity: 0.5;
    transition: opacity 0.2s;
}

.gl_exit:hover {
    opacity: 0.85;
}

@media (orientation: portrait) {
    .splash {
        display: none;
    }
    .details {
        width: auto;
        padding: 0px;
        width: 100vw;
    }
    .title_main {
        font-size: 12vw;
        margin-top: 3vh;
        line-height: initial;
    }
    .title_auth {
        font-size: 4.2vw;
        margin-bottom: 2vh;
    }
    .splash_mobile {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(./media/images/loading_screen.jpg);
        height: calc(26vh);
        display: block;
    }
    .parag_main {
        padding: 2vw 5vw 0vw 5vw;
        font-size: 3vw;
    }
    .help {
        margin-top: 0px;
        width: 41vw;
        padding: 3vw 0vw 5vw 5vw;
    }
    .help_icon {
        font-size: 2.5vw;
        line-height: 4vh;
        height: 4vh;
    }
    .help_items > li {
        font-size: 2.5vw;
        line-height: 3.5vw;
    }
    #progress {
        margin: 2vh 12vw;
    }
    .loaded {
        line-height: 12vw !important;
        height: 12vw !important;
        font-size: 3.2vw !important;
    }
    .gl_help {
        display: none;
    }
}