body {
    overflow: hidden;
    margin: 0px;
}

#orbitViewRoot {
    width: 467px;
    height: 467px;
    background-size: calc(100% - 50px) auto;
    background-position: center;
    background-repeat: no-repeat;
    user-select: none;
    -webkit-user-drag: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    touch-action: none;
    margin: 60px;
    box-shadow: 0px 5px 16px #1114;
}

#orbitViewHand {
    width: inherit;
    height: inherit;
    background-repeat: no-repeat;
    background-position: calc(50% - 12.5px) calc(50% - 18px);
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.orbitViewGray {
    filter: grayscale(100%);
    opacity: 0.8;
}

@keyframes dragger {
    0% { background-position: calc(50% - 23.5px) calc(50% - 18px); }
    50% { background-position: calc(50% - 02.5px) calc(50% - 18px); }
    100% { background-position: calc(50% - 23.5px) calc(50% - 18px); }
}

@media (orientation: portrait) {
    #orbitViewRoot {
        width: calc(100vw - 60px);
        height: calc(100vw - 60px);
        margin: 30px;
    }
}