body {
    overflow: hidden;
    margin: 0px;
}

#orbitViewRoot {
    width: 467px;
    height: 336px;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    user-select: none;
    -webkit-user-drag: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    touch-action: none;
    padding: 60px;
}

#orbitViewRoot > img {
    width: inherit;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
    touch-action: none;
}

@media (orientation: portrait) {
    #orbitViewRoot {
        width: 100vw;
        height: 50vh;
        padding: 0px;
    }
}