* {
    touch-action: none;
    outline: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

@font-face {
    font-family: 'TitleFont';
    src: url(./font.woff);
}

body {
    margin: 0px;
    overflow: hidden;
    background-color: #151515;
}

#log {
    position: fixed;
    z-index: 10;
    top: 10px;
    left: 10px;
    background-color: #151515;
    color: #000;
    padding: 15px;
    display: none;
}

video { display: none; }

#loading {
    background-color: #151515;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 2;
    top: 0px;
    left: 0px;
    transition: opacity 1s;
}

@media (orientation: portrait) {
    #loading { background-size: cover; }
}

@media (orientation: landscape) {
    #loading { background-size: contain; }
}

.splash {
    width: 60vw;
    height: 100vh;
    background-color: #151515;
    position: fixed;
    top: 0px;
    left: calc(40vw);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.details {
    width: calc(40vw - 60px);
    height: calc(100vh - 60px);
    background-color: #151515;
    padding: 30px;
    font-family: Arial Black;
    position: fixed;
    z-index: 3;
    top: 0px;
    left: 0px;
    transition: left 1s;
}

.title_main {
    font-size: 4vw;
    line-height: 4vw;
    text-align: right;
    margin-top: 15vh;
    color: #a10d0d;
    font-family: 'TitleFont';
}

.title_auth {
    font-size: 2.5vw;
    text-align: right;
    color: #a10d0d;
    font-family: 'TitleFont';
}

.parag_main {
    text-align: justify;
    margin-top: 15px;
    font-family: Arial;
    font-size: 1vw;
    color: #AAA;
}

#progress {
    margin: 50px 40px 0px 40px;
    height: 5px;
    background-color: rgba(255,255,255,0.1);
    text-align: center;
    transition-duration: 0.2s;
    transition-property: height, color;
    line-height: 5vw;
    display: none;
}